In [1]:
import pandas as pd

In [2]:
gaz = pd.read_csv('ottgaz.tsv',sep='\t')

In [3]:
gaz.head()

,Placename@tr,ottgaz_id,Placename@ott,Placename_2@tr,Placename_2@ott,Placename_3@tr,Placename_4@tr,Placename_5@tr,Placename_notes@tr,Place_type,...,Admin_unit_11_year,Belongs_to_11-2,Belongs_to_11-1,Admin_unit_12,Belongs_to_12,Admin_unit_13,Belongs_to_13,Admin_unit_14,Admin_unit_14_year,Belongs_to_14
0,A’YUC,NaN,اعيوج,NaN,NaN,NaN,NaN,NaN,NaN,Region,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A’ZAMİYE,NaN,اعظميه,NaN,NaN,NaN,NaN,NaN,NaN,Region,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A’ZAZ,NaN,اعزاز,NaN,NaN,NaN,NaN,NaN,NaN,Region,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A’ZAZ FELLAH,NaN,اعزازفلاح,NaN,NaN,NaN,NaN,NaN,NaN,Region,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A’ZAZ TÜRKMEN,NaN,اعزازترکمان,NaN,NaN,NaN,NaN,NaN,NaN,Region,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN